In [15]:
import pandas as pd
import numpy as np

In [2]:
data_heart = pd.read_csv('heart_disease_df.csv')

In [3]:
data_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heart_disease
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
data_heart['heart_disease'] = data_heart['heart_disease'].map({0: 'No', 1: 'Yes'})

In [5]:
data_heart['sex'] = data_heart['sex'].map({0: 'Female', 1: 'Male'})

In [6]:
data_heart['fbs'] = data_heart['fbs'].map({0: 'No', 1: 'Yes'})

In [7]:
data_heart['exang'] = data_heart['exang'].map({0: 'No', 1: 'Yes'})

In [8]:
data_heart['cp'] = data_heart['cp'].map({0: 'typical angina', 1: 'atypical angina', 2: 'non-anginal pain', 3: 'asymptomic'})

In [9]:
data_heart['restecg'] = data_heart['restecg'].map({0: 'normal', 1: 'ST-T wave abnormality', 2: 'probable or definite left ventricular hypertrophy'})

In [10]:
data_heart['slope'] = data_heart['slope'].map({0: 'downsloping', 1: 'flat', 2: 'upsloping'})

In [11]:
data_heart['thal'] = data_heart['thal'].map({0: 'null', 1: 'fixed defect', 2: 'normal blood flow', 3: 'reversible defect'})

In [12]:
data_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heart_disease
0,52,Male,typical angina,125,212,No,ST-T wave abnormality,168,No,1.0,upsloping,2,reversible defect,No
1,53,Male,typical angina,140,203,Yes,normal,155,Yes,3.1,downsloping,0,reversible defect,No
2,70,Male,typical angina,145,174,No,ST-T wave abnormality,125,Yes,2.6,downsloping,0,reversible defect,No
3,61,Male,typical angina,148,203,No,ST-T wave abnormality,161,No,0.0,upsloping,1,reversible defect,No
4,62,Female,typical angina,138,294,Yes,ST-T wave abnormality,106,No,1.9,flat,3,normal blood flow,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,Male,atypical angina,140,221,No,ST-T wave abnormality,164,Yes,0.0,upsloping,0,normal blood flow,Yes
1021,60,Male,typical angina,125,258,No,normal,141,Yes,2.8,flat,1,reversible defect,No
1022,47,Male,typical angina,110,275,No,normal,118,Yes,1.0,flat,1,normal blood flow,No
1023,50,Female,typical angina,110,254,No,normal,159,No,0.0,upsloping,0,normal blood flow,Yes
1024,54,Male,typical angina,120,188,No,ST-T wave abnormality,113,No,1.4,flat,1,reversible defect,No

In [13]:
data_heart.to_csv('heart_data_Tablaeu.csv', sep=',', index=False, encoding='utf-8')

In [18]:
data_heart['heart_disease'] = data_heart['heart_disease'].astype(str)

In [19]:
data_heart['sex'] = data_heart['sex'].astype(str)

In [20]:
data_heart['cp'] = data_heart['cp'].astype(str)

In [21]:
data_heart['fbs'] = data_heart['fbs'].astype(str)

In [22]:
data_heart['restecg'] = data_heart['restecg'].astype(str)

In [23]:
data_heart['exang'] = data_heart['exang'].astype(str)

In [24]:
data_heart['slope'] = data_heart['slope'].astype(str)

In [25]:
data_heart['thal'] = data_heart['thal'].astype(str)

In [26]:
data_heart.to_csv('heart_data_Tablaeu2.csv', sep=',', index=False, encoding='utf-8')